#
# This file contains default values which are used
# by the salt states deploying your project.
# you may copy them to your relevant PILLAR file
# before editing them.
# If you need to add variables, this is where to begin.
# Please keep defaults in there, but real passwords
# must be putted inside pillar
#
# replace project_name in your pillar by
# the current projectname
# you can also merge parts of this file
# with the relevant pillar
makina-projects.projectname:
  data:
    py_ver: 2.4
    py_inst: "{project_root}/python{py_ver}"
    py_root: "{project_root}/venv"
    py: "{project_root}/venv/bin/python"
    requirements: "{project_root}/requirements.txt"
    server_aliases: []
    plone_major: "3.3"
    plone_ver: "3.3.5"
    uinstaller: 'Plone-{plone_ver}-UnifiedInstaller'
    installer_url: "http://launchpad.net/plone/{plone_major}/{plone_ver}/+download/{uinstaller}.tgz"
    plone_arc: '{data_root}/{uinstaller}.tgz'
    #symlinks:
    #  - /var/foo§/zeocluster: '{zroot}'
    zroot: "{project_root}"
    plone_root: '{data_root}/{uinstaller}'
    sys_encoding: utf-8
    var-directory: '{data_root}/var'
    cache-directory: '{var-directory}/buildout-cache'
    www_dir: '{var-directory}/www'
    #svn_url: "https://subversion.foo.net/foo'
    front_address: '127.0.0.1'
    front_port: '8080'
    cron_hour: 1
    cron_minute: 5
    autostart: 'true'
    domain: "{fqdn}"
    port: 80
    plonesite: Plone
    TMPDIR: /tmp
    nginx_vhost: "salt://makina-projects/{name}/files/nginx.conf"
    nginx_top: "salt://makina-projects/{name}/files/nginx.top.conf"
    buildout:
      settings:
        versions:
          zc.buildout: "1.7.0"
          zc.recipe.egg: "1.3.2"
          Pillow: 1.7.8
          # PLONE 3 reqs !
          plone.app.imaging: 1.0.5
          plone.app.blob: 1.5.1
          plone.recipe.zope2instance: 2.7
          plone.recipe.zope2install: 2.6
          plone.recipe.zope2zeoserver: 1.4
          ZODB3: 3.8.4
          five.localsitemanager: 1.1
          five.intid: 0.3.0
          zope.app.publisher: 3.5.2
          zope.app.catalog: 3.5.2
          zope.component: 3.5.1
          zope.container: 3.8.2
          zope.lifecycleevent: 3.6.0
          zope.i18n: 3.7.2
          zope.interface: 3.5.3
          zope.location: 3.5.4
          zope.proxy: 3.4.2
          zope.publisher: 3.5.6
          zope.schema: 3.5.4
          zope.sendmail: 3.5.1
          zope.site: 3.6.1
          zope.testing: 3.8.1
          zope.securitypolicy: 3.4.1
          zope.app.zcmlfiles: 3.4.3
          z3c.form: 1.9.0
          plone.z3cform:  0.5.10
          plone.app.z3cform: 0.4.9
          plone.scale: 1.0a2
          archetypes.schemaextender: 2.0.3
          zope.copy: 3.5.0
          zdaemon: 3.0.5
          ZConfig: 2.9.3
          python-gettext: 1.2
          unittest2: 0.5.1
        buildout:
          extends: buildout-prod.cfg etc/prod.cfg
          extends-cache: '{cache-directory}/downloads'
          parts: "${buildout:plone3-parts} ${buildout:prod-parts}"
          versions: versions
          newest: "false"
          unzip: "true"
          cache-directory: '{cache-directory}'
          download-cache: '{cache-directory}/downloads'
          download-directory: '{cache-directory}/downloads'
          eggs-directory: '{cache-directory}/eggs'
          parts-directory: '{var-directory}/parts'
        v:
          autostart_instance1: "true"
          autostart_instance2: "false"
          autostart_instance3: "false"
          autostart_instance4: "false"
          autostart_instanceworker: "false"
          project: "{name}"
        haproxy:
          cpu: adm64
          target: generic
        #supervisor:
        #  plone-programs: "${supervisor:plone3-programs}"
        instance:
            # plone3 !
            zope2-location: "${locations:zope2}"
            eggs+: python-gettext
        zeoserver:
            zeopack-script-name: "zeoserver-zeopack"
            # plone3 !
            eggs: "${zeoserver:plone3-eggs}"
            recipe: plone.recipe.zope2zeoserver
            zope2-location: "${locations:zope2}"
            zeo-conf-additional: "${zeoserver:plone3-storage}"
    started_supervisor_programs: [zeoserver, balancer]
    supervisor_programs: [instance1]
  env_defaults:
    dev: {}
    prod:
      settings: {}
# vim:set ft=yaml ts=2 sts=2:
